[CHART]
name = CAWO Migration
hours_per_day = 12.8
start_date = 2025-03-12
end_date = 2025-05-10
jira_query = project = "DS"
	and (status was in ("To Do", "In Progress", "In Review") after "2025-03-11"
	OR status changed to "Done" after "2025-03-11")
	and status != "Rejected"
	and type not in ("Feature", "Portfolio Epic")
	and (
	(issueKey in portfolioChildIssuesOf(DS-9557)
	OR issueKey in portfolioChildIssuesOf(DS-12475)
	OR issueKey in (DS-9557, DS-12475))
	OR
	(parent in (DS-9557, DS-12475))
	)
	and parent not in (DS-12484, DS-9866, DS-12111, DS-9009)
	ORDER BY statusCategory ASC

